*{
    margin: 0;
    padding: 0;
}
.userImg {
    padding: 20px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.user {
    display: flex;
}

h6 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: cornflowerblue;
    font-size: 12px;
}

.userMassage {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    line-height: 26px;
    color: #6d6e71;
    margin: 0;
}