.userComponent{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.usersInfo{
    display: flex;
    margin-left: 50px;
}
.usersPhoto{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-right: 20px;
}
.fullName{
    color: #27aae1;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;

}
.specialty{
    color: gray;
    font-size: 13px;
    line-height: 26px;
}
.location{
    color: gray;
    font-size: 13px;
    line-height: 26px;

}
.btn{
    width: 100px;
    height: 35px;
    border-radius: 28px;
    border:1px solid white;
    background-color: deepskyblue;
    color:white;
    margin-left: 100px;
    font-weight: bold;


}
.selectedPage{
    font-weight: bold;
}